<html>
  <head>
    <meta charset="utf-8">
    <title>Quino</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h2>QUINO, Joaqu&iacute;n Salvador Lavado Tej&oacute;n</h2>
    <p>Naci&oacute; en la región andina de Mendoza (Argentina) el 17 de julio de 1932. Desde su nacimiento fue nombrado Quino para distinguirlo de su tío Joaquín Tejón, apreciado pintor y diseñador gráfico, con el que, a los tres años de edad, descubrió su vocación.</p>

    <p>En 1963, aparece su primer libro de humor, “Mundo Quino”, una recopilación de dibujos de humor gráfico mudo con prólogo de Miguel Brascó.</p>

    <p>Mafalda, la chica de pelo negro que odia la sopa y está en contradicción con los adultos, se publicó por primera vez el 29 de septiembre 1964 en el semanario Primera Plana de Buenos Aires. </p>
        
    <p>El 9 de marzo 1965, con el paso de las tiras cómicas al periódico El Mundo, se inicia el imparable éxito del personaje, que cruza las fronteras nacionales para conquistar América del Sur y luego se extiende a Europa, ganando una posición de liderazgo en el imaginario colectivo.</p>

    <p>Jorge Álvarez Editor publica el primer libro de Mafalda que reúne las primeras tiras en orden de publicación, tal como se hará en los siguientes. Sale en Argentina para Navidad y en dos días se agota su tirada de 5.000 ejemplares.</p>

    <p>Falleció el 30 de septiembre de 2020, a los 88 años, un día después de haberse cumplido cincuenta y seis años de la primera publicación de Mafalda.</p></div>
     
    <br>
    <a href="/">Volver al Inicio</a>
</body>
</html>