<html>
<head>
<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" href="/images/quino.jpeg">
    <img src="/images/quino.jpeg"  width="400" height="300">
  </a>
  <div class="desc">Foto Quino</div>
</div>

<div class="gallery">
    <a target="_blank" href="/images/mafalda_1.jpg">
      <img src="/images/mafalda_1.jpg" width="400" height="300">
    </a>
    <div class="desc">Caricatura Mafalda</div>
</div>

<div class="gallery">
  <a target="_blank" href="/images/quino_mafalda.jpg">
    <img src="/images/quino_mafalda.jpg"  width="400" height="300">
  </a>
  <div class="desc">Quino Mafalda</div>
</div>

<div class="gallery">
  <a target="_blank" href="/images/mafalda_2.jpg">
    <img src="/images/mafalda_2.jpg" width="400" height="300">
  </a>
  <div class="desc">Mafalda jardinera</div>
</div>

</body>
</html>
