<html>
  <head>
    <meta charset="utf-8">
    <title>Bienvenidos</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <br>
    <h2>QUINO, Joaquín Salvador Lavado Tejón</h2>
    <br><br>
    <a title="Acerca de Quino" href="/about"><img src="/images/quino.png" alt="Acerca de Quino" />Acerca de Quino</a>
    <br><br><br>
    <a title="Obras de Quino" href="/quino"><img src="/images/mafalda2.png" alt="Obras de Quino" />Obras de Quino</a>
    <br><br><br><br>
    <a title="Galeria de Fotos" href="/gallery"><img src="/images/gallery.png" alt="Galeria de Fotos" />Galeria de Fotos</a>
    <br><br>
  </body>
</html>