<html>
  <head>
    <meta charset="utf-8">
    <title>Quino</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h2>QUINO, Joaquín Salvador Lavado Tejón</h2>
    <h3>Obras</h3>
    
    <h5><b><i>Mafalda</i></b></h5>
    <p>La m&aacute;s conocida de sus obras, Mafalda, en un principio fue una publicidad para lavadoras. Quino intent&oacute; dejarla pero la historieta ya hab&iacute;a tomado fuerza. </p>
    <li> Mundo Quino (1963) (reeditado en 1998)</li>
    <li> A m&iacute; no me grite (1972) (reeditado en 1999)</li>
    <li>Yo que usted... (1973)</li>
    <li>B&iacute;en, gracias, ¿y usted? (1976)</li>
    <li>Hombres de bolsillo (1977)</li>
    <li>A la buena mesa (1980)</li>
    <li>Ni arte ni parte (1981)</li>
    <li>D&eacute;jenme inventar (1983)</li>
    <li>Quinoterapia (1985)</li>
    <li>Gente en su sitio (1986)</li>
    <li>S&iacute;, cariño (1987)</li>
    <li>Potentes, prepotentes e impotentes (1989)</li>
    <li>Humano se nace (1991)</li>
    <li>Yo no fui (1994)</li>
    <li>Cuentecillos y otras alteraciones (1995)</li>
    <li>¡Qu&eacute; mala es la gente! (1996)</li>
    <li>¡Cu&aacute;nta bondad! (1999)</li>
    <li>Esto no es todo (recopilaci&oacute;n) (2002)</li>
    <li>¡Qu&eacute; presente impresentable! (2005)</li>
    <li>La aventura de comer (2007)</li>
    <li>Toda Mafalda (2007)</li>
    <li>¿Qui&eacute;n anda ah&iacute;? (2012)</li>
    <li>Simplemente Quino (2016)</li>

    <br>
    <a href="/">Volver al Inicio</a>
</body>
</html>