<html>
  <head>
    <meta charset="utf-8">
    <title>Cat</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <img src="/images/quino.jpg" />
    <h1 style="font-weight:bold" >QUINO, Joaquín Salvador Lavado Tejón</h1>
    <p>Naci&oacute; en la región andina de Mendoza (Argentina) el 17 de julio de 1932, aunque en los registros oficiales, es anotado el 17 de agosto. Desde su nacimiento fue nombrado Quino para distinguirlo de su tío Joaquín Tejón, apreciado pintor y diseñador gráfico, con el que, a los tres años de edad, descubrió su vocación.</p>

    <p>A los trece años se matriculó en la Escuela de Bellas Artes, pero en 1949 “Cansado de dibujar ánforas y yesos”, la abandona y piensa en una sola profesión posible: dibujante de historieta y humor.</p>

    <p>Determinado firmemente a lograr sus objetivos, a la edad de dieciocho años se trasladó a Buenos Aires en busca de un editor dispuesto a publicar sus dibujos, pero pasaría tres años de penurias económicas antes de ver su sueño hecho realidad. “El día que publiqué mi primera página – dijo recordando su debut en el semanario Esto es, de Buenos Aires – pasé el momento más feliz de mi vida”. Fue en 1954. Desde entonces y hasta la fecha sus dibujos de humor se vienen publicando ininterrumpidamente en infinidad de diarios y revistas de América Latina y Europa.</p>

    <p>Con la popularidad mejora su situación económica, y en 1960 tiene la oportunidad de coronar otro sueño: casarse con Alicia Colombo, nieta de inmigrantes italianos y con un título en química.</p>

    <p>En 1963, aparece su primer libro de humor, “Mundo Quino”, una recopilación de dibujos de humor gráfico mudo con prólogo de Miguel Brascó. El mismo Brascó lo presenta a Agens Publicidad, que buscaba a un dibujante para que creara una historieta «mezcla de Blondie y Peanuts» para publicitar el lanzamiento de una línea de productos electrodomésticos llamados Mansfield, razón por la que el nombre de algunos de los personajes debían comenzar con la letra M, de ahí Mafalda. Agens no hace su campaña, pero Quino se queda con unas pocas tiras que le serían útiles unos meses después, cuando diera vida al personaje que lo haría famoso.</p>

    <p>Mafalda, la chica de pelo negro que odia la sopa y está en contradicción con los adultos, se publicó por primera vez el 29 de septiembre 1964 en el semanario Primera Plana de Buenos Aires. El 9 de marzo 1965, con el paso de las tiras cómicas al periódico El Mundo (en el que Quino publicará seis tiras por semana), se inicia el imparable éxito del personaje, que cruza las fronteras nacionales para conquistar América del Sur y luego se extiende a Europa, ganando una posición de liderazgo en el imaginario colectivo.</p>

    <p>Jorge Álvarez Editor publica el primer libro de Mafalda que reúne las primeras tiras en orden de publicación, tal como se hará en los siguientes. Sale en Argentina para Navidad y en dos días se agota su tirada de 5.000 ejemplares.</p>

    <p>En Italia, se edita en 1969 el primer libro, “Mafalda la Contestataria”, con la presentación de Umberto Eco, director de la colección.</p>

    <p>El gran éxito y fama internacional no impedirán que Quino, el 25 de junio 1973,&nbsp; tome una decisión para algunos desconcertante: no dibujar más tiras de Mafalda, pues ya no siente la necesidad de utilizar la estructura expresiva de las tiras en secuencia. Sin embargo, el interés por Mafalda se ha mantenido inalterado, de hecho, sus libros continúan reimprimiéndose y sigue siendo elegida para acompañar diversas campañas sociales (UNICEF, la Cruz Roja Española, el Ministerio de Relaciones Exteriores de la República de Argentina). En adelante Quino continuará publicando semanalmente sus tan conocidas páginas de humor que han ido agrupándose en la colección de sus libros de Humor.</p>

    <p>En 1984, invitado para integrar el jurado del Festival de Cine Latinoamericano de La Habana, viaja a Cuba, donde comienza su amistad con el director de cine de animación Juan Padrón y firma un contrato con el ICAIC (Instituto Cubano del Arte e Industria Cinematográficos) para la realización de cortometrajes con sus páginas de humor. La serie se llama Quinoscopios, dirigidos por Juan Padrón sobre dibujos e ideas de Quino.</p>

    <p>En 1993, la empresa española D.G. Producciones S. A., en coproducción con Televisiones Españolas produce 104 episodios de Mafalda en dibujos animados de 1 minuto de duración dirigidos por Juan Padrón en el ICAIC. Las caricaturas fueron difundidas en Italia por la RAI2 y en Argentina en dos oportunidades: primero por el antiguo canal 11 y varios años después por canal Encuentro.</p>

    <p>A lo largo de su carrera recibe múltiples reconocimientos, entre ellos la Orden Oficial de la Legión de Honor, la honra más importante que el gobierno francés le concede a un extranjero. El 2014 es un año especial, ya que Quino cumple 60 años en el humor gráfico y Mafalda cumple 50 años. En ese año recibió en España el Premio Príncipe de Asturias de Comunicación y Humanidades e inauguró la 40a Feria Internacional del Libro de Buenos Aires.</p>

    <p>Falleció el 30 de septiembre de 2020, a los 88 años, un día después de haberse cumplido cincuenta y seis años de la primera publicación de Mafalda.</p></div>
        
    <a href="/">Volver al Inicio</a>
</body>
</html>